body{
    /* padding-top:4.2rem; */
    padding-bottom:4.2rem;
    background:rgba(0, 0, 0, 0.76);
    }

#first{
    padding-top:4.2rem;
}
#second{
    padding-top:4.2rem;
}

a{
    text-decoration:none !important;
}
h1,h2,h3{
    font-family: 'Kaushan Script', cursive;
}
.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}
.tx-tfm{
    text-transform:uppercase;
}
.mybtn{
    border-radius:50px;
}
    
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.google {
    color:#666;
    width:100%;
    height:40px;
    text-align:center;
    outline:none;
    border: 1px solid lightgrey;
}
form .error {
    color: #ff0000;
}

#second{display:none;}


/*Dashboard*/

.dashboard-container {
    /* max-width: 800px; */
    margin: 50px 50px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container .user-info {
    margin-top: 20px;
}

.dashboard-container h1,
.dashboard-container h2 {
    color: #333;
}

.dashboard-container ul {
    list-style-type: none;
    padding: 0;
}

.dashboard-container li {
    margin-bottom: 10px;
}



.user-card-label{
    font-weight: bold;
}

.user-card-data{
    font-weight: normal;
}

body, html {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.sticky-footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    text-align: center;
}

#loader_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5); 
    display: none; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#error-message-container {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    color: #000;
}

.last_block{
    padding: 10em;
}

.block_image{
    width:40%
}

.my-jumbotron {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 1024px; 
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}


#success-message-container {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    background-color: #4CAF50;
    border-left: 6px solid #56f436;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: white;
}

.edit-form{
    margin-bottom: 5em;
}